.centered {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
 font-size: 30px;
}

.row-padding{
 padding-top: 50px;
}

.menu ul li{
 display: inline;
 list-style-type: none;
 padding-top: 20px;
 padding-right: 20px;
 float: left;
}

.menu {
 float: right;
 color: black;
}
.logo {
 float: left;
 padding: 20px 40px;
}

.footer{
 background-color: gainsboro;
}
.footer-logo{
 padding-top: 50px;
 padding-bottom: 50px;
}
.footer-text{
 padding-top: 25px;
 padding-bottom: 25px;
}
.text-underline {
 text-decoration: underline;
 text-decoration-color: red;
}

.centered-text{
 padding: 50px;
}
